@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --ring: 216 12.2% 83.9%;
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center gap-x-2 font-medium rounded-lg border border-transparent focus:outline-none disabled:opacity-50 disabled:pointer-events-none;
  }

  /* Sizes */
  .btn-sm {
    @apply py-2 px-3 text-sm;
  }

  .btn-md {
    @apply py-3 px-4 text-base;
  }

  .btn-lg {
    @apply p-4 sm:p-5 text-lg;
  }

  /* Colors */
  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 focus:bg-blue-700 dark:bg-blue-500 dark:text-white dark:hover:bg-blue-600 dark:focus:bg-blue-600;
  }

  .btn-secondary {
    @apply bg-gray-600 text-white hover:bg-gray-700 focus:bg-gray-700 dark:bg-gray-500 dark:text-white dark:hover:bg-gray-600 dark:focus:bg-gray-600;
  }

  .btn-danger {
    @apply bg-red-600 text-white hover:bg-red-700 focus:bg-red-700 dark:bg-red-500 dark:text-white dark:hover:bg-red-600 dark:focus:bg-red-600;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6
  }

  ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2
  }
}
